body{
    font-family: 'Josefin Sans', sans-serif;
}
.flx-continer{
    display: flex;
    margin: 100px;
}
.h1{
    font-size: 50px;
}
.noobmd{
    color: orangered;
}
.h2{
    font-size: 40px;
    text-align: center;
    
}
.ani{
    font-size: 50px;
    margin-left: 6%;
}
.half-width{
    width: 50%;


}
.half-width img{
    width: 100%;
    margin-left: 50px;


}
.about{
    font-size: 35px;
}
.p{
    font-size: 20px;
    text-align: justify;
}
.id-link{
    background-image: linear-gradient(rgb(219, 125, 61),rgb(245, 209, 4));
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;

}
.half-width2{
    width: 50%;
    margin-right: 40px;  
}

.half-width2 img{
    width: 110%;
   margin-right:50px;
   
}
.gif-1{
    box-shadow: 15px 15px 30px  rgb(53, 50, 50);
    width: 40%;
   margin-right: 10%;
   margin-left: 25px;
    
}
#border-1{
    border-image:linear-gradient(blue, rgb(1, 252, 239)) ;
    border-left: 5px solid;
    border-image-slice: 1;
}
#border-2{
    border-image:linear-gradient(rgb(190, 0, 248), rgb(255, 0, 0)) ;
    border-left: 5px solid;
    border-image-slice: 1;

}
footer{
    text-align: center;
}